{% extends "page.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <div class="row">
        {% for post in posts['data']['children'] %}
            {% if post['data']['thumbnail'] == 'default' or post['data']['thumbnail'] == null or post['data']['thumbnail'] == 'self' %}
                <div class="card" style="width: 15rem; margin: 10px;">
                    <div class="card-body">
                        <h6 class="card-title">{{ post['data']['title'] }}</h6>
                        <h6 class="card-title">@{{ post['data']['author'] }}</h6>
                        <p>{{ post['data']['created_utc'] }}</p>
                        <a href="{{ path('more', {'post_id': post['data']['name']} ) }}" class="btn btn-outline-dark">Подробнее</a>
                        {% if  true%}
                            <a class="btn btn-outline-dark">
                                <i class="far fa-star"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-outline-dark">
                                <i class="fas fa-star"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="card" style="width: 15rem; margin: 10px;">
                    <img class="card-img-top" src="{{ post['data']['thumbnail'] }}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ post['data']['title'] }}</h3>
                        <h6 class="card-title">@{{ post['data']['author'] }}</h6>
                        <p>{{ post['data']['created_utc'] }}</p>
                        <a href="{{ path('more', {'post_id': post['data']['name']} ) }}" class="btn btn-outline-dark">Подробнее</a>
                        {% if  true %}
                            <a class="btn btn-outline-dark">
                                <i class="far fa-star"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-outline-dark">
                                <i class="fas fa-star"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
    {% block footer %} {{ parent() }} {% endblock %}
{% endblock %}