{% extends "page.html.twig" %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <h1 style="text-align:center; font-size: 50px;" ><span class="badge badge-secondary">Авторизация НЕ РАБОТАЕТ</span></h1>
    {% if error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}


