{% extends "page.html.twig" %}

{% block title %}Моя страница{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <h1 style="text-align:center; font-size: 50px;" ><span class="badge badge-secondary">Поздравляю, ты авторизовался, но этого не произойдет</span></h1>
{% endblock %}