{% extends "base.html.twig" %}
{% block body %}
{% block header %}
    <ul class="nav justify-content" style="background:#b4d2db;">
        <li class="nav-item">
            <h3 class="nav-link" style="color: black; size: 40px; margin: 20px;"><b>Реддиты</b>(Новые)</h3>
        </li>
        <form class="form-inline my-2 my-lg-0" method="post" action="{{ path('search') }}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Что ищем?" aria-label="Search">
            <button class="btn btn btn-outline-dark" style="color: black; size: 40px; margin: 20px; padding: 10px;">Искать</button>
        </form>
        {% if is_granted("ROLE_USER")%}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-dark" style="color: black; size: 40px; margin: 20px; padding: 10px;" href="{{ path('logout') }}">Выйти</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-dark" style="color: black; size: 40px; margin: 20px; padding: 10px;" href="{{ path('login') }}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-dark" style="color: black; size: 40px; margin: 20px; padding: 10px;" href="{{ path('register') }}">Регистрация</a>
            </li>
        {% endif %}
    </ul>
    <br>
    <ul class="nav justify-content">
        <div class="dropdown">
            <a class="nav-link btn btn-outline-dark" style="color: black; size: 40px; margin: 20px;" href="{{ path('homepage') }}">Главная</a>
        </div>

        <div class="dropdown" style="color: black; size: 40px; margin: 20px; padding: 10px;">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировка
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('sort', {'sort':'relevance'}) }}">По релевантности
                <a class="dropdown-item" href="{{ path('sort', {'sort':'hot'}) }}">Горячие</a>
                <a class="dropdown-item" href="{{ path('sort', {'sort':'top'}) }}">В топе</a>
                <a class="dropdown-item" href="{{ path('sort', {'sort':'new'}) }}">Новые</a>
                <a class="dropdown-item" href="{{ path('sort', {'sort':'comments'}) }}">Комментируемые</a>
            </div>
        </div>
        <div class="dropdown" style="color: black; size: 40px; margin: 20px; padding: 10px;">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сколько постов показывать на странице
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('sort_by_limit', {'limit':8}) }}">8</a>
                <a class="dropdown-item" href="{{ path('sort_by_limit', {'limit':12}) }}">12</a>
                <a class="dropdown-item" href="{{ path('sort_by_limit', {'limit':16}) }}">16</a>
                <a class="dropdown-item" href="{{ path('sort_by_limit', {'limit':50}) }}">50</a>
                <a class="dropdown-item" href="{{ path('sort_by_limit', {'limit':100}) }}">100</a>
            </div>
        </div>
        {% if is_granted("ROLE_USER")%}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-dark" style="color: black; size: 40px; margin: 20px; padding: 10px;" href="{{ path('my_fav') }}">Мои избранные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-dark" style="color: black; size: 40px; margin: 20px; padding: 10px;" href="{{ path('fav_communities') }}"></a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
    {% block footer %}
        <div id="footer" style="width: 100%; height: 100px; color: #000; background:#b4d2db;">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link " href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Партнеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Разработчики сайта</a>
                </li>
            </ul>
            <p style="padding: 20px; font-size: 10px; margin-bottom: 0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum cumque delectus deserunt dicta eveniet id ipsa iusto, omnis, placeat quaerat repellat repellendus reprehenderit sequi suscipit tenetur totam voluptatem voluptatibus. Debitis perferendis quibusdam temporibus? Ab, accusamus corporis cum deserunt eaque, esse hic illum libero magni minus molestias nulla odio, reiciendis.</p>
        </div>
    {% endblock %}
{% endblock %}