{% extends "page.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ post['data']['children']['0']['data']['title'] }}</h3>
            <h6 class="card-title">@{{ post['data']['children']['0']['data']['author'] }}</h6>
        </div>
        <img class="card-img-bottom" src="{{ post['data']['children']['0']['data']['url'] }}" alt="Card image cap">
    </div>

{% endblock %}