{% extends "page.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <h1 style="text-align:center; font-size: 50px;" ><span class="badge badge-secondary">Зарегистрируйтесь</span></h1>
    {% if error %}
        <div style="color:red"><span class="badge badge-secondary">{{ error }}</span><</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}


